header.dashboard-header {
  background-color: #fff !important;
  border-bottom-color: #00519e !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 140px 70px !important;
  background-image: url("https://cdn.jsdelivr.net/gh/hanson106/assets@main/makai/makai-name-logo.png") !important;
}
